@media (max-width: 768px) {

    .black {
        min-height: 650px;
        min-width: 495px;
    }

    .white {
        min-height: 600px;
        min-width: 495px;
    }

    .cards {
        flex-wrap: wrap;

        .card {
            width: 50%;
        }
    }

   .resp {
    min-height: 930px;
    padding: 0;

    .respon {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
   }
} 