*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
}

ul,
h2,
h3,
p,
body {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


header>div {
    /* max-width: 1440px; */
    min-height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin: 0 auto; */
}

nav>ul {
    display: flex;
    gap: 37px;
}

.nav {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #000000;
    transition: 0.5s;
}

.nav:hover {
    mix-blend-mode: normal;
    opacity: 0.3;
}

.get_invite {
    width: 158px;
    height: 40px;
    background: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #FFFFFF;
    transition: 0.5s;
}

.get_invite:hover {
    background: #DFDFDF;
    color: #000000;
    border: none;
    cursor: pointer;
}




/* main {
    max-width: 1440px;
    margin: 0 auto;
} */

.content_photo {
    display: flex;
}

.photo_l_r {
    width: 60%;
}

.box_content_black {
    background: #000000;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.box_content_black>img {
    position: absolute;
    left: 0;
}

.box_content_center {
    width: 387px;
    height: 304px;
}

.h2_white {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 4.16667px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 21px;
}

.p_white {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-bottom: 48px;
}

.butt_white {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #FFFFFF;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 26px;
    transition: 0.5s;
}

.butt_white:hover {
    text-decoration: underline;
    cursor: pointer;
}

.box_content_white {
    background: #FFFFFF;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h2_black {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 4.16667px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 21px;
}

.p_black {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-bottom: 48px;
}

.butt_black {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #000000;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 26px;
    transition: 0.5s;
}

.butt_black:hover {
    text-decoration: underline;
    cursor: pointer;
}

.card_story {
    min-width: 360px;
    width: 25%;
    min-height: 500px;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    transition: all 1s;
}

.gradient {
    width: 360px;
    height: 6px;
    background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
    position: absolute;
    opacity: 0;
    transition: 1s;
}

.storys_name {
    width: 280px;
    display: flex;
    flex-direction: column;
}

.mountain {
    background: url(../images/mountains.png);
    background-size: cover;
}

.city {
    background: url(../images/cityscapes.png);
    background-size: cover;

}

.voyage {
    background: url(../images/voyage.png);
    background-size: cover;

}

.architect {
    background: url(../images/architecturals.png);
    background-size: cover;

}

.story_title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 4px;
}

.story_by {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #FFFFFF;
}

.border_story {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding-bottom: 16px;
    margin-bottom: 20px;
}

.butt_story {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #FFFFFF;
    background: none;
    border: none;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.card_story:hover {
    top: -24px;
}

.card_story:hover .gradient {
    opacity: 1;
}



/*  */

.responsive {
    display: flex;
    justify-content: space-evenly;
    padding: 120px 0 120px 0;
}

.responsive>div {
    max-width: 350px;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.responsive>div>div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.responsive>div>div>h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}

.responsive>div>div>p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.6;
}

/*  */

footer {
    background: #000000;
    min-height: 250px;
    /* max-width: 1440px; */
    /* margin: 0 auto; */
    padding: 64px 168px;
    display: flex;
    justify-content: space-between;
}

.social {
    display: flex;
    gap: 109px;
}

.social_logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social_logo>ul {
    display: flex;
    gap: 13.33px;
}

.social_logo>ul>li {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.fb {
    background-image: url(../images/facebook_w.svg);
    transition: 0.5s;
}

.fb:hover {
    background-image: url(../images/facebook.svg);
}

.youtube {
    background-image: url(../images/youtube_w.svg);
    transition: 0.5s;
}

.youtube:hover {
    background-image: url(../images/youtube.svg);
}

.twiter {
    background-image: url(../images/twitwr_w.svg);
    transition: 0.5s;
}

.twiter:hover {
    background-image: url(../images/twiter.svg);
}

.ppp {
    background-image: url(../images/p_w.svg);
    transition: 0.5s;
}

.ppp:hover {
    background-image: url(../images/ppp.svg);
}

.insta {
    background-image: url(../images/insta_w.svg);
    transition: 0.5s;
}

.insta:hover {
    background-image: url(../images/instagram.svg);
}

.fut_navigation>ul {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.fut_navigation>ul>li>a {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.5s;
}

.fut_navigation>ul>li>a:hover {
    opacity: 0.3;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.copyr {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: right;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}


/* tablet */

@media (max-width: 800px) {
    .content_photo {
        flex-wrap: wrap;
        justify-content: center;
    }

    .responsive {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 375px) {
    .card_story {
        width: 375px;
        height: 375px;
    }
}